.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 2rem;
}
.row p {  
  margin: 0;
  padding: 0 0 30px ;
  width: 86vw;
  line-height: 1.6;
  text-align: justify;
  
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@media (max-width: 600px) {    
  .row {
    width: 100%;
    flex-direction: column;
    margin-top: 0;
  }
  .row p {  
    width: 86vw;
    padding: 0 0 20px ;
  }
}

